includes:
    - phpstan-baseline.neon

parameters:
    level: 9
    paths:
        - database
        - src
    tmpDir: build/phpstan
    checkOctaneCompatibility: true
    checkModelProperties: true
    ignoreErrors:
        - '#Trait .+ is used zero times and is not analysed#'
