includes:
    - phpstan-baseline.neon

parameters:
    level: 9
    paths:
        - database
        - src
    tmpDir: build/phpstan
    checkOctaneCompatibility: true
    checkModelProperties: true
